# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Kuliah\Semester 4\Kecerdasan Komputasional\Praktikum\Mg 5\dfsbfs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
